<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Vue</title>
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
  </head>

  <body>
    <section id="app">
      <ul>
        <li v-for="(ingredient, i) of ingredients">
          {{ ingredient }} ({{ i + 1 }})
        </li>
      </ul>

      <hr>

      <ul>
        <li v-for="person of persons">
          <div v-for="(value, key, index) of person">
            {{ key }} : {{ value }} ({{ index }})
          </div>
        </li>
      </ul>

      <hr>

      <template v-for="(ingredient, index) of ingredients">
        <h1>{{ ingredient }}</h1>
        <p>{{ index }}</p>
      </template>
    </section>

    <script>
      new Vue({
        data: {
          ingredients: ['meat', 'fruit', 'cookies'],
          persons: [{
            name: 'Max',
            age: 27,
            color: 'red',
          }, {
            name: 'Anna',
            age: 'unknown',
            color: 'blue',
          }],
        },
      }).$mount('#app');
    </script>
  </body>
</html>
